<header class="header">
  <nav class="navbar">
    <a href="{{ '/' | relative_url }}" class="navbar-brand">{{ site.name }}</a>
    <div class="navbar-links">
      <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
      <a href="{{ '/publications' | relative_url }}" class="nav-link">Publications</a>
      <a href="{{ '/projects' | relative_url }}" class="nav-link">Projects</a>
      <a href="{{ '/interests' | relative_url }}" class="nav-link">Interests</a>
      <a href="{{ '/assets/pdf/CV.pdf' | relative_url }}" class="nav-link" download>CV</a>
    </div>
    <div class="theme-switcher">
      <button id="theme-toggle-btn">
        <span class="sun-icon">☀️</span>
        <span class="moon-icon">🌙</span>
      </button>
    </div>
  </nav>
</header> 